* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: fixed;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: .7rem 0;
    width: 100%;
    bottom: 0;
    z-index: 99999;
}

footer p {
    margin-bottom: 0px;
}